@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bangers&family=Josefin+Sans&family=Montserrat&family=Open+Sans&family=Roboto&family=Sora&display=swap');



h1{
    color: #4f46e5;
}

body{
    text-align: center;
    font-family: 'Sora', sans-serif;
}

label{
    display: block;
    padding-bottom: 2rem ;
    
}
label{
    font-size: x-large;
}

input{
    font-size: medium;
}
label,input{
    padding-top: 1rem;
}

#output{
    font-size: x-large;
}